<ion-content class="ion-padding">
  <h2>Pedido abierto</h2>

  <p *ngIf="isLoading">Cargando pedido...</p>

  <div class="orders-layout" *ngIf="!isLoading">
    <app-order-products
      [products]="products"
      [families]="families"
      (productSelected)="addProduct($event)"
    ></app-order-products>

    <app-order-summary
      [orderLines]="orderLines"
      [isSentToKitchen]="isSentToKitchen"
      [sentLineIds]="sentLineIds"
      (increaseLine)="increaseLine($event)"
      (decreaseLine)="decreaseLine($event)"
      (deleteLine)="deleteLine($event)"
      (sendToKitchen)="sendToKitchen()"
      (checkout)="checkout()"
    ></app-order-summary>
  </div>
</ion-content>
