.orders-layout {
  display: block;
}

app-order-products {
  display: block;
  margin-right: 460px;
}

app-order-summary {
  position: fixed;
  top: 50px;
  right: 56px;
  width: 420px;
  height: calc(100vh - 120px);
  z-index: 10;
}