<ion-content class="ion-padding">
  <h2>Pedido abierto</h2>

  <p *ngIf="isLoading">Cargando pedido...</p>

  <div class="orders-layout" *ngIf="!isLoading">
    <app-order-products
      [products]="products"
      [families]="families"
      (productSelected)="addProduct($event)"
    ></app-order-products>

    <app-order-summary
      [orderLines]="orderLines"
      [isSentToKitchen]="isSentToKitchen"
      [sentLineIds]="sentLineIds"
      (increaseLine)="increaseLine($event)"
      (decreaseLine)="decreaseLine($event)"
      (deleteLine)="deleteLine($event)"
      (sendToKitchen)="sendToKitchen()"
      (checkout)="checkout()"
      (openPrebill)="openPrebill()"
    ></app-order-summary>
  </div>

  <app-payment-modal
    *ngIf="showPaymentModal"
    [total]="getOrderTotal()"
    (closed)="showPaymentModal = false"
    (paymentConfirmed)="confirmPayment($event)"
  ></app-payment-modal>

  <app-prebill-modal
    *ngIf="showPrebillModal"
    [orderLines]="orderLines"
    [tableName]="tableName"
    [openedAt]="currentOrder?.opened_at ?? null"
    (closed)="showPrebillModal = false"
  ></app-prebill-modal>

  <app-final-ticket-modal
  *ngIf="showFinalTicketModal"
  [orderLines]="orderLines"
  [payments]="finalTicketPayments"
  [tableName]="tableName"
  [openedAt]="currentOrder?.opened_at ?? null"
  (closed)="goBackToTables()"
  ></app-final-ticket-modal>
</ion-content>
