<div class="summary-section">
  <h3>Pedido actual</h3>

  <div class="order-lines">
    <div *ngIf="orderLines.length === 0">
      <p>No hay productos añadidos todavía.</p>
    </div>

    <div *ngFor="let line of orderLines" class="order-line">
      <div>
        <strong>{{ line.name }}</strong>
        <div>{{ line.price / 100 | number: "1.2-2" }} € unidad</div>
      </div>

      <div class="line-actions">
        <ion-button
          size="small"
          fill="outline"
          [disabled]="sentLineIds.includes(line.id)"
          (click)="decreaseLine.emit(line)"
        >
          -
        </ion-button>

        <span>x{{ line.quantity }}</span>

        <ion-button
          size="small"
          fill="outline"
          [disabled]="sentLineIds.includes(line.id)"
          (click)="increaseLine.emit(line)"
        >
          +
        </ion-button>

        <ion-button
          size="small"
          color="danger"
          [disabled]="sentLineIds.includes(line.id)"
          (click)="deleteLine.emit(line)"
        >
          Borrar
        </ion-button>
      </div>

      <span>{{ getLineTotal(line) / 100 | number: "1.2-2" }} €</span>
    </div>
  </div>

  <div class="summary-footer">
    <hr />

    <h3>Total: {{ getOrderTotal() / 100 | number: "1.2-2" }} €</h3>

    <div class="summary-actions">
      <ion-button
        expand="block"
        color="warning"
        [disabled]="getPendingLinesCount() === 0"
        (click)="sendToKitchen.emit()"
      >
        {{
          isSentToKitchen
            ? "Enviar nuevos productos a cocina"
            : "Enviar a cocina"
        }}
      </ion-button>

      <ion-button
        expand="block"
        [disabled]="orderLines.length === 0"
        (click)="checkout.emit()"
      >
        Cobrar pedido
      </ion-button>
    </div>
  </div>
</div>
