/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/* @import '@ionic/angular/css/palettes/dark.system.css'; */

body {
  --ion-background-color: #121212;
  --ion-text-color: #ffffff;
}

ion-toolbar {
  --background: #1e1e1e;
  --color: #ffffff;
}

ion-content {
  --background: #121212;
}

ion-card {
  --background: #1e1e1e;
  color: white;
}

ion-header,
ion-toolbar {
  --background: #1e1e1e !important;
  --color: #ffffff !important;
}

/* ALERT OSCURO PERSONALIZADO */
.custom-dark-alert {
  --background: #1e1e1e;
  --color: #ffffff;
  --backdrop-opacity: 0.6;
}

ion-alert.custom-dark-alert {
  --background: #1e1e1e !important;
  --color: #ffffff !important;
}

.custom-dark-alert .alert-wrapper {
  background: #1e1e1e !important;
  color: #ffffff !important;
  border-radius: 16px !important;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5) !important;
}

.custom-dark-alert .alert-head,
.custom-dark-alert .alert-title,
.custom-dark-alert .alert-sub-title,
.custom-dark-alert .alert-message {
  color: #ffffff !important;
}

.custom-dark-alert .alert-button {
  color: #7c3aed !important;
}

.custom-dark-alert .alert-button.role-destructive {
  color: #ef4444 !important;
}

.custom-dark-alert .alert-button-inner {
  color: inherit !important;
}